#sephora {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: white;
  color: black;
  width: 100%;
  letter-spacing: 10px;
}

h1 {
  margin-left: 43%;
}

nav {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: black;
  z-index: 100;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;

}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bolder;

}

a:hover {
  color: rgb(230, 102, 172);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.container {
  width: 100%;
  overflow: hidden;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 500px;
  margin: auto;
  margin-top: 50px;

  overflow: hidden;

}

.slider {
  display: flex;
  margin-top: 25px;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 500px;
  position: relative;

  background-size: cover;
  background-position: center;
}

.slider img {
  width: 100%;
  height: 100%;

  object-fit: cover;

}

.dropDown {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.dropDown div {
  padding: 12px;
  text-align: left;
}


.dropDown div:hover {
  background-color: white;
}


li:hover .dropDown {
  display: block;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 120px;
  gap: 5px;
}

.items img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.items p,
.items h3 {
  text-align: center;
  margin: 10px 0;
}