/* styles.css */

h1 {
  position:fixed; /* Use absolute positioning to keep it in place */
  top: 0;
  left: 42%; /* Adjust the left position as needed */
  z-index: 101; 
  color: black;
  letter-spacing: 10px;
}
nav {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: black;
  /* padding: 0.5rem; */
  z-index: 100;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bolder;
  
}
a:hover{
  color: rgb(230, 102, 172);
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;}
.container {
  width: 100%;
  overflow: hidden;
}
.slider-container {
  position: relative;
  width:100%;
  height:500px;
   /* Adjust the maximum width as needed */
  margin:auto;
  margin-top: 50px;
  
  overflow: hidden;

}

.slider {
  display: flex;
  margin-top: 25px;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  position: relative;
 
  background-size: cover;
  background-position: center;
}

.slider img {
  width: 100%;
  height: 100%;
  
  object-fit:cover;
  /* Remove the margin and padding properties */
  /* margin-left: 20%; */
  /* padding: 20%; */
  /* background-color: rgb(169, 245, 46); */
}
/* Style the dropdown container */
.dropDown {
  display: none;
  position: absolute;
  background-color: white; /* Set the background color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Style the dropdown links */
.dropDown div {
  padding: 12px;
  text-align: left;
}

/* Style the dropdown links on hover */
.dropDown div:hover {
  background-color: white; /* Change the background color on hover */
}

/* Show the dropdown container on hover */
li:hover .dropDown {
  display: block;
}
